@model FileLoad.Models.FileOnFileSystemModel

@{
    ViewData["Title"] = "View";

}

<h1>
    File has been created successfully in @Model.Filenamewithpath
    <p>@Html.ActionLink("Click Here to Download", "GetTxt", "Home", new { fileName = @Model.Filenamewithpath }, null)</p>

  

</h1>

